# Ignorar entorno virtual
venv/

# Archivos temporales o del sistema
__pycache__/
*.pyc
*.log
venv/
.env
*.sqlite
.DS_Store
outputs/

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de VSCode u otros editores
.vscode/
