# Ignorar entorno virtual
venv/

# Archivos temporales o del sistema
__pycache__/
*.pyc
*.log
venv/
.env
*.sqlite
.DS_Store
/outputs/
/outputs/*.json
/outputs/session_files/
requirements_full_backup.txt

# Archivos de Jupyter
.ipynb_checkpoints/

# Archivos de VSCode u otros editores
.vscode/

#Otros
*.pyo
*.pyd
*.so
build/
dist/
*.egg-info/


# Pdf documentos base especificaciones
*.pdf
# Backups o pruebas

#Tiene la Key 
RAGGrafo/scripts/key.txt

#Arranque del server LightRag
env.sh
start_server.sh

